<footer class="bg-custom-black text-white px-6 md:px-20 py-12">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
    <!-- Column 1: Contact Info -->
    <div class="space-y-4">
      <img src="assets/logo.png" alt="Simplit Logo" class="w-40">
      <p>332 - Skyview Business Horizon

        Surat - Kamrej Hwy, opp. Dreamland Party Plot

        Surat, Gujarat 395006</p>
      <p><a href="mailto:hr@Simplit.com" class="hover:underline">hr@Simplit.com</a></p>
      <p class="font-bold">(+91) 12345 50273</p>
      <p><a href="https://www.Simplitsolution.com" target="_blank" class="hover:underline">www.Simplitsolution.com</a>
      </p>
    </div>

    <!-- Column 2: IT Services -->
    <div>
      <h3 class="text-xl font-bold mb-4">IT Services</h3>
      <ul class="space-y-2">
        <li><a href="#" class="hover:underline">Mobile App Development</a></li>
        <li><a href="#" class="hover:underline">Web Development</a></li>
        <li><a href="#" class="hover:underline">SEO</a></li>
        <li><a href="#" class="hover:underline">Quality Assurance</a></li>
        <li><a href="#" class="hover:underline">Digital Marketing</a></li>
      </ul>
    </div>

    <!-- Column 3: Quick Links -->
    <div>
      <h3 class="text-xl font-bold mb-4">Quick Links</h3>
      <ul class="space-y-2">
        <li><a routerLink="/about" class="hover:underline">About</a></li>
        <li><a routerLink="/expertise" class="hover:underline">Expertise</a></li>
        <li><a routerLink="/careers" class="hover:underline">Careers</a></li>
        <li><a routerLink="/contact" class="hover:underline">Contact</a></li>
      </ul>
    </div>
  </div>

  <!-- Bottom Section -->
  <div class="flex flex-col md:flex-row justify-between items-center mt-12 pt-6 border-t border-gray-700 text-sm">
    <p><a href="#" class="hover:underline text-gray-400">LanguageCert Test Center in Surat</a></p>
    <p class="text-gray-500 mt-2 md:mt-0">Simplit Solution Pvt Ltd © 2025. All rights reserved.</p>
    <div class="flex mt-2 md:mt-0 group">
      <a href="#" class="hover-bg p-2 rounded-full"><img src="assets/images/linkedin.png" alt="LinkedIn"
          class="w-7 h-7"></a>
    </div>
  </div>
</footer>