/* You can add global styles to this file, and also import other style files */
// src/styles.scss
@use "tailwindcss";

$theme-color: #e03a3c;

.text-custom-red {
    color: $theme-color;
}

.bg-red {
    background-color: $theme-color;
}

.hover-text :hover {
    color: $theme-color;
}

.hover-bg :hover {
    // background-color:#f51417;
    background-color:#160f0f;
}

.bg-custom-black{
  background-color: #1b1b1b;
}

.bg-custom-gray{
 background-color: #353535;
}

@layer utilities {
  .clip-path-slant {
    clip-path: polygon(0 60px, 100% 0, 100% 100%, 0 100%);
  }
}

body {
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
}
